.ant-select-selector {
  background-color: transparent !important;
  color: white !important;
  border-color: white;
  min-width: 140px;
  max-width: 220px;
  opacity: 1 !important;
  text-align: left !important;
  border-radius: 50px !important;
}
