.cornerBlock {
  opacity: 0;
}

.cornerBlock:hover {
  opacity: 1;
}

.disable-text-selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}