.ant-select-selector {
  background-color: transparent !important;
  color: black !important;
  border-color: black;
  border-radius: 10px;
  min-width: 140px;
  max-width: 220px;
  opacity: 1 !important;
  text-align: center !important;
}

.newWidgetContainer {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
