.buttonToPress {
  background-color: white;
}

.buttonToPress:hover {
  background-color: rgb(241, 241, 241);
}

.descriptionBackground {
  text-decoration: none;
}

.descriptionBackground:hover {
  text-decoration: underline;
}

.referenceIdLink {
  cursor: pointer;
  text-decoration: none;
}

.referenceIdLink:hover {
  text-decoration: underline;
}

.logFolderPath {
  text-decoration: none;
  cursor: pointer;
}

.logFolderPath:hover {
  text-decoration: underline;
}

.dateFilterBtn {
  text-decoration: none;
}

.dateFilterBtn:hover {
  text-decoration: underline;
}
